* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	background-color: rgb(203, 220, 201);
}
.button-add {
	background-color: rgb(10, 10, 76);
	padding: 17px;
	margin-top: 30px;
	border-radius: 20px;
	border: none;
	color: white;
	font-size: 17px;
}
.button-delete {
	background: none;
	border: 0;
	color: rgb(244, 103, 103);
}
.wholePlane {
	width: 70%;
	
}
h1 {
	background-color: #dcedf7;
	border-radius: 15px;
	padding: 15px;
	margin-top: 30px;
}
.App {
	display: flex;
	justify-content: space-around;
	background-color: rgb(203, 220, 201);
	
}
.myInput {
	width: 600px;
	height: 1.5rem;
	padding: 20px;
	border-radius: 20px;
	display: block;
	margin-top: 30px;
}
textarea {
	width: 600px;
	display: block;
	border: 1px solid #ddd;
	margin-top: 30px;
	height: 200px;
	border-radius: 20px;
	padding: 8px;
}
.selected {
	background-color: rgb(235, 235, 139);
}
.default {
	background-color: #dcedf7;
}
.title {
	color: #232323;
	padding: 8px;
}
.meal {
	border-radius: 8px;
	margin-top: 10px;
}
.week {
	color: #241fc5;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 30px;
	text-shadow: 1px 1px #ddd;
}

@media all and (max-width: 991px) {
	.App {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		
	}
}

@media all and (max-width: 660px) {
	h1 {
		margin-top: 10px;
	}
	.wholePlane {
		width: 500px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.myInput {
		width: 450px;
	}
	textarea {
		width: 450px;
	}
}
@media all and (max-width: 500px) {
	.wholePlane {
		width: 400px;
	}
	.myInput {
		width: 350px;
	}
	textarea {
		width: 350px;
	}
	
}
@media all and (max-width: 400px) {
	.wholePlane {
		width: 350px;
	}
	.myInput {
		width: 300px;
	}
	textarea {
		width: 300px;
	}
	.title {
		width: 300px;
	}
	h1 {
		font-size: 0.8rem;
	}
	.week {
		font-size: 15px;
	}
}
